@font-face{
   font-family:"R&M";
   src: url(./components/R&M.ttf) format('truetype');
}

.App {
   text-align: center;
   background-image: url(https://fondosmil.com/fondo/27356.jpg);
   background-position: no-repeat;
   background-position: center center;
   
   background-attachment: fixed;
   background-size: cover;
}

#titulo {
   font-family: "R&M";
   font-size: 80px;

}